<div layout="column">
  <!-- Container #1 -->
  <md-toolbar class="md-tall md-warn" layout="row">
    <h1 class="mainTitle" >Get-Red</h1>
  </md-toolbar>

  <div layout="row" layout-sm="column" layout-align-gt-md="center start" layout-margin layout-fill-gt-md layout-padding-gt-md>
    <!-- Container #2 -->
    <md-content id="description" flex flex-gt-md="30" class="md-whiteframe-z5">
      <p>{{ description }}</p>
    </md-content>

    <!-- Container #3 -->
    <md-content id="content" flex flex-gt-md="55" class="md-whiteframe-z5">
      <h2>Blood Requirement Form</h2>
      <h3>Contact Details</h3>
      <div layout="column">
        <div>
          <md-input-container>
            <label>Name</label>
            <input ng-model="user.name" placeholder="John Doe">
          </md-input-container>
        </div>
        <div>
          <md-input-container>
            <label>Email</label>
            <input ng-model="user.email" type="email" placeholder="johndoe@example.com">
          </md-input-container>
        </div>
        <div>
          <md-input-container>
            <label>Phone</label>
            <input ng-model="user.phone" type="tel" placeholder="1234567890">
          </md-input-container>
        </div>
        <div>
          <md-input-container>
            <label>Address</label>
            <textarea ng-model="user.address" columns="2" md-maxlength="150" placeholder="House No. 4, X Street, Y Colony"></textarea>
          </md-input-container>
        </div>
        <h3>Requirements</h3>
        <div layout="column" style="height: 100px;">
          <md-select placeholder="Blood Group Needed" ng-model="user.group">
            <md-option value="A+">A+</md-option>
            <md-option value="A-">A-</md-option>
            <md-option value="B+">B+</md-option>
            <md-option value="B-">B-</md-option>
            <md-option value="O+">O+</md-option>
            <md-option value="O-">O-</md-option>
          </md-select>
        </div>
        <div>
          <md-input-container>
            <label>Quantity (in Litres)</label>
            <input ng-model="user.quantity" type="number" placeholder="4">
          </md-input-container>
        </div>
        <div>
          <md-input-container>
            <label>Required On</label>
            <input ng-model="user.date" type="date" placeholder="mm/dd/yyyy">
          </md-input-container>
        </div>
      </div>

      <section layout="row" layout-sm="column" layout-align="center center">
        <md-button ng-click="submit()" layout-align="center center" class="md-raised md-accent">
          Get Red
        </md-button>
      </section>
    </md-content>
  </div>
</div>
